

<nav class="navbar navbar-expand navbar-light bg-light">
  <button id="navbutton"> <div class="collapse navbar-collapse" >  
  <ul class="nav nav-tabs">
      <li class="nav-item">
          
        </li>
        <h6> Immunization Tracking and Management Platform </h6>
        <li class="nav-item">
          
        </li>
        <li>
            <p id="login">
             <b> <a role="button" (click)="login()" ><span>Sign In</span></a></b>
             </p></li>
         
   
  </ul>
  </div>
</button>
</nav>

  
