img{
    
    width: 100%;
    height:100%;
    position: fixed ;

   
}
/*body{

    background-image:  url(/src/assets/image/1235.jpg);
     background-color: rgba(156, 150, 150, 0.09);
     background-size: 1366px 637px;
     resize: both;
     background-position: center center;
     background-repeat: no-repeat;
     background-attachment: fixed; 
   }*/

   #nview{
    background-image:  url(/src/assets/image/nurse3.jpg);
     background-color: rgba(156, 150, 150, 0.09);
     background-size: 1366px 637px;
     resize: both;
     background-position: center center;
     background-repeat: no-repeat;
     background-attachment: fixed; 
   }

   #update{

    font-weight:bold;
   }
  
 
#gender{
    position: absolute;
    left:55%;
    top:85%;
    z-index: 8;
    
}