
<app-navbar></app-navbar>
<img src="/src/assets/image/main.jpg"/>
<form>
    <div style="padding-left:30px">
        <div id="form"><div id="head"> 

             
<h2>Welcome to Web Based Immunization Information System.</h2><br><br>
<div id="m"><h5>Our Software is the best in Immunization Tracking and Management.</h5></div>
<br><br><br><br>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input type="button" class="btn btn-secondary" value="Register Now" (click)="registerForm()"/>
</div></div></div></form>